*/.idea
*/__pychache__
*.pyc

*/target
*/dependency-reduced-pom.xml

WikiStreamHandler/src/main/scala/net/lezzar/wikistream/jobs/Tests.scala
scripts/launcher/logs/*

WikiStreamHandler/WikiStreamHandler.iml
scripts/launcher/run/
WikiStreamHandler/wiki_stream_handler.iml
todo
wiki_stream_handler/WikiStreamHandler.iml
